<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css"/>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="grid-container">
        <header class="header">
        <a href="index.html">Library</a>
        <div class="header-links">
            <a href="account.html">Account</a>
        </div>
        </header>
        <main class="main">
            <div class="content">
                <ul class="books">
                    <li>
                        <div class="book">
                            <img class="book-image" src="../frontend/public/images/index.png" alt="book" />
                            <div class="book-name">
                                <a href="book.html">Book1</a>
                            </div>
                            <div class="book-author">Author</div>
                            <div class="book-available">Available</div>
                            <div class="rating">3 Stars</div>

                       </div>
                    </li>
                </ul>
        </div>
        </main>
        <footer class="footer">
        All rights reserved.
        </footer>
    </div>

</body>
</html>